<div class="figure">
  <title>Thor</title>
  <h1 style="font-size:50px;">Thor</h1>
  <img src="thor.jpg"
       alt="Mjolnir"
       width="300"
       height="341">
  <p style="font-size:25px;"> As the Norse God of thunder and lightning, Thor wields<br />one of the greatest weapons ever made, the enchanted hammer Mjolnir.</p>
  <a href="http://localhost:80/site1.html">Mjolnir Page</a>
</div>