<div class="figure">
  <title>Mjolnir</title>
  <h1 style="font-size:50px;">Mjolnir</h1>
  <img src="hammer.jpg"
       alt="Mjolnir"
       width="400"
       height="341">
  <p style="font-size:25px;"> Mjolnir is the hammer of Thor. According to legend<br />"Whosoever holds this hammer, if he be worthy, shall possess the power of Thor."</p>
  <a href="http://localhost:80/site2.html">Thor Page</a>
</div>